/*Default*/
.calendario-de-eventos {
	border: solid 1px #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    .month {
        width: 100%;
        text-align: center;
        cursor: default;
        font-weight: bold;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
				margin: 15px;
                font-weight: bold;
            }
        }
        .prev {
            background:none;
        	border:none;
            float: left;
            cursor: pointer;
            &:focus, 
            &:hover{
          		outline: #ffc107 solid 3px;
        	}
        }
        .next {
        	background:none;
        	border:none;
            float: right;
            cursor: pointer;
            &:focus, 
            &:hover{
          		outline: #ffc107 solid 3px;
        	}
        }
        .titulo {
        	background:none;
        	border:none;
        }
    }
    .weekdays, .calendar-week-row {
        display: flex;
        cursor: default;
        button {
        	border:none;
        	background: none;
            flex: 0 0 14.285714285714285714285714285714%;
            max-width: 14.285714285714285714285714285714%;
            text-align: center;
        }
        span{
            flex: 0 0 14.285714285714285714285714285714%;
            max-width: 14.285714285714285714285714285714%;
            text-align: center;
        }
    }
    .weekdays {
    	background-color: #DFDFDF;
        font-weight: bold;
        padding: 6px 0;
        margin-bottom: 15px;
    }
    .calendar-week-row {
        .calendar-day {
            padding: 10px 0;
            cursor: pointer;
            margin: 0.7px;
        }
         .calendar-day:hover {
          	background-color: #FFEFC2;
          	border-radius: 5px;
        }
         .tiene-eventos{
		    background-color: #f2f2f2;
		    border-radius: 5px;
        }
         .today{
		    font-weight: 600;
		    background-color: #ffc107;
		    border-radius: 5px;
        }
        .focusDay{
        	border-radius: 5px;
    		background-color: #ffc107;
    	}
        .weekEnd{
        	background-color: #D3F1F5;
        	border-radius: 5px;
        }
        .prev-month, .next-month {
       		padding: 10px 0;
       		margin: 0.7px;
            background-color: #aaa;
            pointer-events: none;
        }
    }
}
.listado-de-eventos {   
    .filtrado{
        padding: 0 1.5rem 3rem;
        .listado{
            list-style:none;
            padding-left:0;
            &__item{
            	text-align: center;
                border:.1rem solid $dga_black;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    bottom: -.5rem;
                    left: 0;
                    height: .4rem;
                    width: 100%;
                    border-bottom: .4rem solid $dga_amarillo;
                }
                margin-bottom: 2rem;
                padding:0.5rem 0;
                .name{
                	border: none;
   					background-color: #ffffff;
                	cursor:pointer;
                    margin: 0 0 0 1.5rem;
                    @include font-size(14);
                    font-family: $openSansSemiBold;                  
                    &:hover,
                    &:focus{
                       text-decoration: underline;   
                    }
                }
            }
        }
    }
    .dateEvent{
    	font-weight: 600;
    }
    .titulo-dia {
        border-bottom: 2px solid #ffc107;
	    margin-bottom: 2.5rem;
	    padding-bottom: 2.2rem;
	    font-weight: 800;
    }
    .contenedor-evento {
        margin-bottom: 2rem;
        .titulo-evento {
            margin-top: 0;
            margin-bottom: .5rem;
            color: #333;
    		text-decoration-color: #333;
    		text-underline-position: under;
        }
        .descripcion-evento {
            margin: 0;
        }
    }
}
/* 576px */
@media screen and (min-width:$screen-s){
    .listado-de-eventos{
        .filtrado{
            .listado{
                display:flex;
                flex-wrap: wrap;
                &__item{
                    flex: 1;
                    margin: 0 1.5rem;
                    text-align:center;
                    position: relative;
                    &::after{
                        content: '';
                        position: absolute;
                        top: 0;
                        right: -1.5rem;
                        width: .1rem;
                        height: 100%;
                        background-color: $dga_grayBorder;
                    }
                    &:first-child{
                        margin-left:0;
                    }
                    &:last-child{
                        margin-right:0;
                        &::after{
                            display: none;
                        }
                    }
                     .name{
                         padding: 0;
                     }
                }
            }
        }
    }
}

/* 768px */
@media screen and (min-width:$screen-sm){
    .listado-de-eventos{
        .filtrado{
            padding: 0 0 3rem;
        }
    }
}


/* 992px */
@media screen and (min-width:$screen-lg){
    .listado-de-eventos{
        .filtrado{
            .listado{
                &__item{
	                .name{
	                    @include font-size(16);
	                }                  
                }
            }
        }
    }
}
/* 992px */
@media (max-width: 992px) {
	.listado-de-eventos {
    	margin-top: 3rem;
    	.contenedor-evento {
        	padding-bottom: 2rem;
    	}
	}
}
/* 600px
@media (max-width: 600px) {
	.listado-de-eventos {
	    .filtrado{
		    .listado{
		        &__item{
		            margin:10px; 
		        }
		    }
	    }
	}
} */ 