.dga-view{
    .filtrado-tema{
        padding: 0 1.5rem 3rem;
        .listado{
            list-style:none;
            padding-left:0;
            &__item{
                border:.1rem solid $dga_black;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    bottom: -.5rem;
                    left: 0;
                    height: .4rem;
                    width: 100%;
                    border-bottom: .4rem solid $dga_amarillo;
                }
                margin-bottom: 2rem;
                padding:1rem 0;
                .link{
                    display:flex;
                    justify-content: center;
                    align-content: center;
                    color:$dga_black;
                    text-decoration: none;
                    position: relative;
                    .icon{
                        height: 2.5rem;
                        position: relative;
                        img{
                            height: 100%;
                            display: block;
                        }
                    }
                    .name{
                        margin: 0 0 0 1.5rem;
                        @include font-size(16);
                        font-family: $openSansSemiBold;
                        p{
                            display: inline;
                        }
                    }
                    &:hover,
                    &:focus{
                        .name{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    .articulos-tema{
        .listado{
            width: 100%;
            list-style: none;
            padding: 0;
            margin: 0;
            &__item{
                font-family: $openSansSemiBold;
                position: relative;
                padding: 0 1.5rem 3rem;
                margin-bottom: 3rem;
                border-bottom: 0.1rem solid $dga_lightGray;
                &:first-of-type{
                    border-top: none;
                }
                &:last-of-type{
                    border-bottom: none;
                }
                .link{
                    @include font-size(16);
                    display: block;
                    position: relative;
                    font-family: $openSansSemiBold;
                    color: $dga_black;
                    text-decoration-color: $dga_black;
                    text-underline-position:under;
                    display: block;
                    overflow: hidden;
                    .title{
                        @include font-size(20);
                        border-bottom: 0.1rem solid $dga_grayBorder;
                        margin-bottom: 1rem;
                        padding: 0 0 1rem 4rem;
                        position: relative;
                        &::before{
                            content: '';
                            width: 1.0rem;
                            height: 1.1rem;
                            background: url(../images/dga/icons/icon-plus.svg) center center no-repeat;
                            background-size: 100%;
                            position: absolute;
                            left: 1.5rem;
                            top: .75rem;
                        }
                        a{
                            color: $dga_black;
                        }
                    }
                    &:hover,
                    &:focus{
                        text-decoration: underline;
                        .title{
                            border-bottom: 0.1rem solid $dga_marrongray;
                            &::before{
                                display: none;
                            }
                        }
                    }
                }
                .info{
                    @include font-size(18);
                    font-family: $openSans;
                    p{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .elementos-hijos{
    	background-color: #f0f0f0;
    }
}

/* 576px */
@media screen and (min-width:$screen-s){
    .dga-view{
        .filtrado-tema{
            .listado{
                display:flex;
                flex-wrap: wrap;
                &__item{
                    flex: 1;
                    margin: 0 1.5rem;
                    text-align:center;
                    position: relative;
                    &::after{
                        content: '';
                        position: absolute;
                        top: 0;
                        right: -1.5rem;
                        width: .1rem;
                        height: 100%;
                        background-color: $dga_grayBorder;
                    }
                    &:first-child{
                        margin-left:0;
                    }
                    &:last-child{
                        margin-right:0;
                        &::after{
                            display: none;
                        }
                    }
                    .link{
                        left: auto;
                        transform: none;
                        
                        .name{
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
}

/* 768px */
@media screen and (min-width:$screen-sm){
    .dga-view{
        .filtrado-tema{
            padding: 0 0 3rem;
        }
        .articulos-tema{
            .listado{
                &__item{
                    border-bottom: none;
                    padding: 0;
                    margin-bottom: 0;
                    padding: 2rem;
                    .link{
                        @include font-size(20);

                        &::before{
                            left: 2rem;
                        }
                        
                    }
                }
            }
        }
    }
}

/* 992px */
@media screen and (min-width:$screen-md){
    .dga-view{
        .articulos-tema{
            .listado{
                &__item{
                    .link{
                        @include font-size(20);
                        .icon{
                            position: relative;
                            top: -1rem;
                            right: 2rem;
                            padding-top: 0;
                        }
                        
                    }
                }
            }
        }
    }
}

/* 992px */
@media screen and (min-width:$screen-lg){
    .dga-view{
        .filtrado-tema{
            .listado{
                &__item{
                    .link{
                        .name{
                            @include font-size(18);
                        }
                    }
                }
            }
        }
    }
}