@import "components/breadcrumb";
@import "components/group-item";
@import "components/sidebar";
@import "components/splitter";
@import "components/table";
@import "components/ckeditor.scss";
@import "portlet/portlet";

body {
	background-color: $bg-color;
}

#wrapper {
	padding: 0;

	.portlet-layout {
		margin: 0 0 25px;

		.portlet-column {
			padding: 0;
		}

		.portlet-body .container-fluid-1280 {
			max-width: map-get($container-max-widths, xl);
			position: relative;
		}
	}

	.main-content-card {
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
		margin-top: 20px;
		min-height: 200px;
	}

	.main-content-nav {
		margin-left: -($grid-gutter-width / 2);
		margin-top: 20px;
	}

	.sidenav-container {
		.sidenav-content {
			@include sm {
				margin-right: -15px;
			}
		}

		&.closed .sidenav-content {
			margin-right: 0;
		}
	}
}

/* Correccion de categorias cortadas en clasificacion de contenidos */
.category-tree .treeview-node-main {
    max-width: none !important;
    .truncate-text {
    	white-space: unset !important;
    }
}
/* Estilos para el ckEditor */
.html-editor{
   .p-custom-class{
       padding: 1.5rem;
       display: flow-root;
       border-bottom: 2rem solid #ffffff;
       background-color: #f2f2f2;
   }
   .p-custom-class-orange{
       padding: 1.5rem;
      	display: flow-root;
       border: 0.2rem solid #fa9902;
       border-radius: 1rem;
   }
   .p-custom-class-ylldark{
       padding: 1.5rem;
       display: flow-root;
       border-bottom: 2rem solid #ffffff;
       background-color: #fdcb33;
   }
   table{
	    line-height: 2.52rem;
	    width: 100%;
	    margin: 3rem 0 0;
	    th{
	    	text-align: center;
	    	background: #333;
	    	font-family: "open_sans-semibold", sans-serif;
	   	 	color: #fff;
	    }
   }
	ol {
	  list-style-type: none;
	  counter-reset: item;
	  margin: 0;
	  padding: 0;
	}
	ol > li {
	  display: table;
	  counter-increment: item;
	  margin-bottom: 0.6em;
	}
	ol > li:before {
	  content: counters(item, ".") ". ";
	  display: table-cell;
	  padding-right: 0.6em;    
	}
	li ol > li {
		margin: 0;
	}
	li ol > li:before {
		content: counters(item, ".") " ";
	}
}
