@import '../fonts/fonts';


$dga_black:#333;
$dga_darkblack:#000;
$dga_lightblack:#4a4a4a;
$dga_white:#fff;

$dga_amarillo: #ffca00;
$dga_marron: #4D1F2E;
$dga_orange:#f69800;
$dga_rojo:#F05442;
$dga_marrongray:#655459;


$dga_amarillo_focus: #fafdb8;

$dga_blue: #0050A4;
$dga_darkblue: #083d77;

$dga_lightGray:#f2f2f2;
$dga_grayLines:#f0f0f0;
$dga_grayBar:#f7f7f7;
$dga_grayBorder:#979797;
$dga_grayInactive:#dadada;
$dga_underlineMenu: #CDCCCD;


/* tamaños pantallas */
/* completan los tamaños por defecto de LifeRay*/

$screen-ip-X:375px;
$screen-ip-plus:414px;
$screen-s:576px;


